body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
header {
    background-color: #222;
    color: white;
    padding: 30px;      /* box ke andar space */
    margin-bottom: 20px; /* neeche ka gap */
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}
section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ccc;
}
.box {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
}

